// global
$max-screen-fixed: 1200px;
$max-screen-resized: 90%;

// border
$border-radius: 3px;

// typography
$font-base-size: 1rem;
$font-multiplier: 1.2;
$heading-base-size: 2.4rem;
$heading-multiplier: 0.85;
$heading-height-base: 2.8rem;
$line-height-base: 1.1rem;
$size-idx: (
  1: "sm",
  2: "md",
  3: "lg"
);
@function get-size($key) {
  @return map-get($size-idx, $key)
}


// spacings
$padding-base: 2px;
$margin-base: 2px;
@function set-padding($level) {
  @return $padding-base * $level;
}