.flex {
  display: flex;
  flex-direction: row;
  
  &--col {
    flex-direction: column;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }
}