@import "./config";
@import "./colors";

body {
  background-color: get-color(secondary);
  color: get-colors(primary);
  margin: auto;
  width: $max-screen-resized;
  max-width: $max-screen-fixed;
  &::selection {
    background-color: get-color(blush);
    color: get-color(secondary);
  }
}
