@import "./colors";
@import "./config";
@import "./functions";

@for $i from 1 to 7 {
  h#{$i} {
    font-size: pow($heading-multiplier, $i) * $heading-base-size;
    line-height: pow($heading-multiplier, $i) * $heading-height-base;
  }
}

.text {
  &--underline {
    text-decoration: underline;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--lowercase {
    text-transform: lowercase;
  }

  &--center{
    text-align: center;
  }

  &--left {
    text-align: left;
  }
  
  &--right {
    text-align: right;
  }

}

@mixin text($color) {
  color: get-color($color);
}

@for $i from 1 to 4 {
  .text {
    &-#{get-size($i)} {
      font-size: pow($font-multiplier, $i) * $font-base-size;
      line-height: pow($font-multiplier, $i) * $line-height-base;
    }
  }
}

@for $i from 1 to 4 {
  .#{get-size($i)} {
    font-size: pow($font-multiplier, $i) * $font-base-size;
    line-height: pow($font-multiplier, $i) * $line-height-base;
  }
}