<div class={{this.cardClassName}} {{on "click" this.turn}}>
  <div class="flip-card-inner">
    <div class="flip-card-front flex flex--col flex--center">
      <h1>Methylococcus</h1>
      {{this.cardClassName}}
    </div>
    <div class="flip-card-back">
      <h1>Volume 3</h1>
      <p>Methanotroph</p>
      <p>Feeds on 1C -> Formaldehyde and Methane</p>
    </div>
  </div>
</div>